body {
    margin-left: 275px;
    background-color: #f2f2f2;
    transition: all 0.4s ease;
}
.dragon-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
img{
    max-width: 90%;
}
.dragon-card {
    margin-top: 50px;
}
.dragon-card, .battle-arena {
    text-align: center;
    font-size: 40px;


}
.battle-arena{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;


}
.dragon-card a, .battle-arena a {
    text-decoration: none;
    color: #2f7d2f;


}
.dragon-card div, .battle-arena div {
    transition: transform 0.35s ease, color 0.35s,
    box-shadow 0.35s ease;
    border-radius: 10px;
    padding: 15px;
}
.dragon-card div:hover, .battle-arena div:hover {
    background-color: #222;
    transform: translateY(-60px);
    box-shadow: 0 12px 10px 8px #1b4d1b;
    filter:brightness(1.2);
    cursor: pointer;
    border: 4px  solid #327e32;
}
.lair-title {
    font-weight: bold;
    font-size: 50px;
    color: #398c39;
    text-align: center;
}
.lair-subtitle {
    font-size: 35px;
    text-align: center;
    display: block;
    color: rgb(41, 108, 41);

}

.arena-header, .lair-header {
    background-color: #398c39;
    height: 55px;
    color:white;
    text-align: center;
    font-size: 45px;
    margin-top: 50px;
    display: block;
    margin-bottom: 50px;
    padding-top: 25px;
    padding-bottom: 25px;

}
 .arena-button,
 .codex-button{
     color: #d4af37;
     background-color: white;
     border: 5px solid green;
     border-radius: 35px;
     font-size: 25px;
     cursor: pointer;
     font-family: 'Almendra', serif;
     padding-bottom: 75px;
     padding-top: 25px;
     padding-left: 25px;
     padding-right: 25px;
     transition: all 0.4s ease;
     width: 225px;
     height: 100px;
 }

.codex-button:hover,
.arena-button:hover{
    background-color: green;
    color:white;
    transform: scale(0.90);
    padding-top: 15px;
    border: 5px solid white;
    box-shadow: 2px 5px 10px 2px rgba(212, 175, 55, 0.6);

}
.menu-header {
    font-size: 25px;
    text-align: center;
}
.sidebar{
    padding-top: 30px;
}
@media screen and(max-width: 1024px) {
    body {
        margin-left: 0;
    }
    .dragon-card, .battle-arena {
        grid-template-columns: 1fr 1fr;
        font-size: 30px;
    }
    .sidebar{
        display: block;
        width: 100%;
    }
}
@media screen and(max-width: 600px){
    .dragon-card, .battle-arena {
        grid-template-columns: 1fr;
    }
    .lair-title{
        font-size: 35px;
    }
    .arena-header, .lair-header {
        font-size: 30px;
        height: auto;
        padding: 15px;
    }
    dragon-card div:hover, .battle-arena div:hover {
        transform: translateY(-10px);
    }
    .arena-button, .codex-button {
        width: 180px;
        font-size: 20px;
    }
}